ul.nav > li.nav-item > a.active {
  color : var(--orange-light) !important;
}

ul.nav > li.nav-item > a.nav-link {
  color : var(--strongest-blue);
}

a > p:hover{
  color:  var(--orange-light) !important;
}
