
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="planning_modal">
  <ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
    <p class="loading">Cargando...</p>
  </ngx-spinner>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header orange-light-background">
        <h5 class="modal-title ">Actualizar datos de semana</h5>
      </div>
      <div class="modal-body" [class.d-none]="current_step != 1">
      	<h5 class="strong_blue_clor">Agregar datos de salud</h5>
        <form class="row">
          <div class="form-group col-12 col-lg-6">
            <label for="weight" class="strong_blue_clor">Peso*</label>
            <div class="input-group no-right-padding">
              <input type="number" class="form-control holder-blue strong_blue_clor" id="weight" aria-describedby="weight" [(ngModel)]="form_info['weight']['value']" name="weight">
              <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Kilogramos.</span>
              </div>
            </div>
            <small class="form-text error-text strong_blue_clor" *ngIf="form_info['weight']['error'].length > 0">{{form_info['weight']['error']}}</small>
          </div>
          <div class="form-group col-12 col-lg-6">
            <label for="diameter" class="strong_blue_clor">Diametro de la cintura*</label>
            <div class="input-group no-right-padding">
              <input type="number" class="form-control holder-blue strong_blue_clor" id="diameter" aria-describedby="diameter" [(ngModel)]="form_info['diameter']['value']" name="diameter">
              <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">centimetros.</span>
              </div>
            </div>
            <small class="form-text error-text strong_blue_clor" *ngIf="form_info['diameter']['error'].length > 0">{{form_info['diameter']['error']}}</small>
          </div>
        </form>
        <p class="text-right">paso {{current_step}} de {{total_steps}}</p>
      </div>
      <div class="modal-body" [class.d-none]="current_step != 2">
      <div class="container">
        <div class="row">
          <h5 class="strong_blue_clor">Actualizar los ingredientes disponibles</h5>
          <p>Actualiza tu inventario, selecciona en la tabla que ingredientes ya no se pueden aprovechar de semanas pasadas al seleccionarlas en la siguiente tabla.  </p>
        </div>
        <div class="row">
          <div class="text-center table-responsive" *ngIf="stock_items.length > 0">
            <table id="stock" class="display">
              <thead>
                <tr class="blue-main-background">
                  <th><p>Ingrediente</p></th>
                  <th><p>Cantidad</p></th>
                  <th><p>Fecha de subida</p></th>
                  <th><p>Eliminar</p></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of stock_items; let i = index">
                  <td>
                    {{item.ingredient_name}}
                  </td>
                  <td>
                    {{item.quantity}} {{item.unit}}.
                  </td>
                  <td>
                    {{item.created_at | datetimeOne}}
                  </td>

                  <td>
                    <input type="checkbox" id="cbox2" value="second_checkbox" (click)="check_delete(item.id)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <p class="text-right mt-2">paso {{current_step}} de {{total_steps}}</p>
        </div>
        <div class="row justify-content-center pt-3">
          <div class="alert alert-warning col-12 text-center" role="alert" *ngIf="stock_warning && !confirm_send">
              <strong>Sin modificaciones.</strong> No has modificado ingredientes, ¿Estás seguro de esta acción? <button class="btn" (click)="confirm_send = true; check_info()"><img src="assets/images/check-square-fill-blue.svg" class="img-fluid"> Sí, continuar</button>
          </div>
        </div>
      </div>
        <!-- <p class="text-right">{{current_step}} de {{total_steps}}</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-normal-blue" (click)="check_info()" *ngIf="current_step == total_steps">Guardar</button>
        <button type="button" class="btn btn-normal-blue" (click)="current_step = current_step - 1" *ngIf="current_step > 1">Anterior</button>
      	<button type="button" class="btn btn-normal-blue" (click)="check_info()" *ngIf="current_step < total_steps">Siguiente</button>
        <button type="button" class="btn btn-normal-orange" (click)="close_modal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
