<ngx-spinner name="loader" [fullScreen]="true" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
	<p class="loading">{{loader_message}}</p>
</ngx-spinner>
<app-header></app-header>
<div class="body-component">
	<div class="d-flex ">
		<div id="sidebar-container">
			<div class="text-center">
				<h5>{{current}} </h5>
				<p class="white-text">{{range_string}}</p>
				<button class="btn strong_blue_clor" (click)="change_menu(menu[ current]['next'])">cambiar a {{menu[ current]['next']}}</button>
				<button class="btn strong_blue_clor" (click)="show_recommendation = !show_recommendation; recipe_index = -1;" *ngIf="current == 'Planeación' && !show_recommendation ">ver recomendaciones</button>
			</div>
			<div class="text-center">
				<button class="btn strong_blue_clor" (click)="show_recommendation = false; recipe_index = -1;" *ngIf="current != 'Planeación' || show_recommendation ">mostrar todas las recetas</button>
			</div>
			<div class="menu" >
				<ng-container *ngIf="current == 'Preparación'">
					<p class="d-block text-center">preparados de la semana</p>
					<h5 class="text-center">{{cooked}} de {{menu[current]['total']}}</h5>
					<p class="d-block text-center">preparados para hoy</p>
					<h5 class="text-center">{{day_cooked}} de {{menu[current]['recipe'][current_day].length}}</h5>
				</ng-container>
				<ng-container *ngIf="current == 'Planeación'">
					<p class="d-block text-center">planeados para la semana</p>
					<h5 class="text-center">{{menu[current]['total']}}</h5>

					<div class="text-center my-3">
						<button class="btn btn-outline-strong mx-auto">Guardar Cambios</button>
					</div>
				</ng-container>
				<div class="row justify-content-center">
					<div class="col-auto">
						<button class="btn btn-cool" (mouseover)="current_left = 'caret-left-square-fill.svg'" (mouseout)="current_left = 'caret-left-square-fill-white.svg'" (click)="change_day(-1)">
						<img [src]="'assets/images/' + current_left" class="img-fluid arrow">
						</button>
					</div>
					<div class="col-auto">
						<h5 >{{days[current_day]}}</h5>
						</div>
					<div class="col-auto">
						<button class="btn btn-cool">
						<img [src]="'assets/images/' + current_right" class="img-fluid arrow" (mouseover)="current_right = 'caret-right-square-fill.svg'" (mouseout)="current_right = 'caret-right-square-fill-white.svg'" (click)="change_day(1)">
						</button>
					</div>
				</div>
				<!-- revisar por user_id_recipe? -->
				<ul class="list-group list-group-flush "> 
					<li class="list-group-item " *ngFor="let recipe of menu[current]['recipe'][current_day]; let i = index" [ngClass]="(recipe_index != -1 && menu[current]['recipe'][current_day][recipe_index] == recipe)? ((is_recommended)? 'blue-back' : 'orange-back') : (recipe['active'] == true)? ((recipe['status'] == 'preparada') ? 'done-back' : 'blue-back' ) : 'grey-back'"><a href="#" class="mr-3" (click)="get_recipe(current_day,i,$event)" [class.stretched-link]="current == 'Preparación'">{{recipe['name']}} <ng-container *ngIf="recipe['status'] != 'pendiente' && recipe['status'] != 'planeada'"> - {{recipe['status']}}</ng-container></a> <button class="btn" (click)="delete_recipe(i)" [class.d-none]="current == 'Preparación'"><img [src]="'assets/images/' + delete_img" class="img-fluid arrow"></button></li>
				</ul>
			</div>
		</div>
		<div >
			<button type="button" (click)="hide_bar()" class="btn blue-button"><img [src]="'assets/images/' + side_bar_icon"></button>
		</div>
		<div class="w-100">
			<div id="content">
				<section *ngIf="recipe_index == -1 && !show_recommendation">
					<div class="container-fluid mt-5">
						<div class="row">
							<div class="col-12">
								<h3>{{current}}</h3>
							</div>
							<div class="col-12">
								<p>Encuentra en esta sección las recetas que elegiste para este día, da click sobre una para ver su contenido y realizarla o eliminarla.</p>
								<p>También puedes ver las recetas de otros días y realizarlas cambiando el día en la barra lateral izquierda.</p>
							</div>
						</div>
						<ng-container *ngIf="menu[current]['total'] > 0">
							<div class="row justify-content-center" *ngFor="let day of days; let i = index">
								<div class="col-12">
									<h4>{{day}}</h4>
								</div>
								<div class="col-12" *ngIf="menu[current]['recipe'][i].length == 0">
									<h5 class="strong_blue_clor text-center py-2">No hay recetas planeadas para este día.</h5>
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2 " *ngFor="let recipe of menu[current]['recipe'][i]; let j = index">
									<div class="card h-100" style="width: 18rem;" >
									  <img [src]="recipe.image" class="card-img-top" alt="...">
									  <div class="card-header text-center">
									    <p >{{recipe.name}}</p> 
									    <br>
									    <img src="assets/images/percent-blue.svg" class="img-fluid mr-2">
									    <p class="strong_blue_clor mr-5" style="color:red;" *ngIf="recipe.ingredient_percentage <= 39">{{recipe.ingredient_percentage}} ingredientes</p>
									    <p class="strong_blue_clor mr-5" style="color:orange;" *ngIf="recipe.ingredient_percentage >= 40 &&recipe.ingredient_percentage <= 59 ">{{recipe.ingredient_percentage}} ingr.</p>
									    <p class="strong_blue_clor mr-5" style="color:brown;" *ngIf="recipe.ingredient_percentage >= 60 &&recipe.ingredient_percentage <= 79 ">{{recipe.ingredient_percentage}} ingr.</p>
									    <p class="strong_blue_clor mr-5" style="color:green;" *ngIf="recipe.ingredient_percentage >= 80 &&recipe.ingredient_percentage <= 100 ">{{recipe.ingredient_percentage}} ingr.</p>
									    <img src="assets/images/clock-blue.svg" class="img-fluid mr-2">
									    <p class="strong_blue_clor">{{recipe.duration}} min.</p>
									    <br>
									    <p>realizados el último mes: <strong class="strong_blue_clor">{{recipe.cooked}}</strong></p>
									  </div>
									  <div class="card-body">
									    <p class="card-text text-justify">{{recipe.description}}</p>
									    <a href="#" class="btn btn-normal-blue stretched-link text-center w-100" (click)="get_recipe(i,j,$event)">Ver Receta</a>
									  </div>
									</div>
								</div>
							</div>	
						</ng-container>
						<div class="row text-center" *ngIf="menu[current]['total'] == 0">
							<div class="col-12" >
								<h4 class="my-5">No tienes una planeación para esta semana</h4>
								<h5>¿Eres nuevo en recettario? realiza la planeación para la siguiente semana y comienza tu inventario</h5>
							</div>
						</div>
						<!-- <div class="w-100 my-3"></div> -->
							
					</div>
				</section>
				<section *ngIf="recipe_index != -1">
					<div class="container-fluid mt-5">
						<div class="row justify-content-center">
							<div class="col-12">
								<h3>Receta 1</h3>
							</div>
							<div class="col-12 col-lg-8">
								<img src="assets/images/clock-blue.svg" class="img-fluid mr-2">
								<p style="display:inline;" class="mb-2">Tiempo aproximado: 20min.</p>
								<p class="text-justify">Descripción: Esta es una breve descripción de la receta para que el usuario recuerde que había. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							</div>
							<div class="col-12 col-lg-4">
								<img src="assets/images/test1.jpg" class="card-img-top" alt="...">
							</div>
							<div class="col-12 pr-5">
								<p><strong> Ingredientes:</strong></p>
								<ul class="list-group list-group-flush">
								  <li class="list-group-item">Ingrediente 1 x ml.</li>
								  <li class="list-group-item">Ingrediente 2 x ml.</li>
								  <li class="list-group-item">Ingrediente 3 x piezas. (opcional)</li>
								  <li class="list-group-item">Ingrediente 4 x gr.</li>
								  <li class="list-group-item">Ingrediente 5 x ml. (2 cucharadas)</li>
								</ul>
							</div>
							<div class="col-12 pr-5">
								<p><strong> Pasos:</strong></p>
								<ul class="list-group list-group-flush">
								  <li class="list-group-item">1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
								  <li class="list-group-item">2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
								  <li class="list-group-item">3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
								  <li class="list-group-item">4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
								  <li class="list-group-item">5. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</li>
								</ul>
							</div>
							<div class="col-6 mb-3 text-center" *ngIf="current == 'Preparación' && menu[current]['recipe'][current_day][recipe_index]['status'] == 'pendiente'">
								<button type="button" class="btn btn-normal-blue  ">He realizado la receta</button>
							</div>
							<div class="col-6 text-center" *ngIf="current == 'Preparación' && menu[current]['recipe'][current_day][recipe_index]['status'] == 'pendiente'">
								<button type="button" class="btn btn-normal-orange" (click)="deactivate_recipe()">Ya no haré esta receta</button>
							</div>
							<div class="col-6 mb-3 text-center" *ngIf="current == 'Planeación'">
								<button type="button" class="btn btn-normal-blue " (click)="add_recipe()">Agregar receta</button>
							</div>
							<div class="col-6 text-center" *ngIf="current == 'Planeación'">
								<button class="btn btn-normal-orange " (click)="delete_recipe(recipe_index)">Eliminar receta</button>
							</div>
							<div class="col-12 text-center" *ngIf="current == 'Preparación' && menu[current]['recipe'][current_day][recipe_index]['status'] == 'desactivada'">
								<button type="button" class="btn btn-normal-orange" (click)="reactivate_recipe()">Cambié de parecer, haré la receta</button>
							</div>
							<div class="col-12 text-center" *ngIf="current == 'Preparación' && menu[current]['recipe'][current_day][recipe_index]['status'] == 'preparada'">
								<h4> Ya has preparado esta receta ¡Hurra!</h4>
								<h5> Revisa tus otras recetas del día de hoy, también puedes adelantar faltantes de la semana.</h5>
							</div>
						</div>
					</div>
				</section>
				<section *ngIf="recipe_index == -1 && show_recommendation">
					<div class="container-fluid mt-5">
						<div class="row">
							<div class="col-12">
								<h3>Recomendaciones</h3>
							</div>
							<div class="col-12">
								<p>Busca tus recetas semanales en esta sección, se han acomodado según tu inventario y las evaluaciones que les has dado a las recetas.</p>
							</div>
						</div>
						<ng-container *ngIf="menu[current]['total'] > 0">
							<div class="row justify-content-center" *ngFor="let name of recomendation_sections; let i = index">
								<div class="col-12">
									<h4>{{name}}</h4>
								</div>
								<div class="col-12" *ngIf="recommendations[i]['recipe'].length == 0">
									<h5 class="strong_blue_clor text-center py-2">No hay recetas por recomendar en esta sección.</h5>
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2 " *ngFor="let recipe of recommendations[i]['recipe']; let j = index">
									<div class="card h-100" style="width: 18rem;" >
									  <img [src]="recipe.image" class="card-img-top" alt="...">
									  <div class="card-header text-center">
									    <p >{{recipe.name}}</p> 
									    <br>
									    <img src="assets/images/percent-blue.svg" class="img-fluid mr-2">
									    <p class="strong_blue_clor mr-5" style="color:red;" *ngIf="recipe.ingredient_percentage <= 39">{{recipe.ingredient_percentage}} ingredientes</p>
									    <p class="strong_blue_clor mr-5" style="color:orange;" *ngIf="recipe.ingredient_percentage >= 40 &&recipe.ingredient_percentage <= 59 ">{{recipe.ingredient_percentage}} ingr.</p>
									    <p class="strong_blue_clor mr-5" style="color:brown;" *ngIf="recipe.ingredient_percentage >= 60 &&recipe.ingredient_percentage <= 79 ">{{recipe.ingredient_percentage}} ingr.</p>
									    <p class="strong_blue_clor mr-5" style="color:green;" *ngIf="recipe.ingredient_percentage >= 80 &&recipe.ingredient_percentage <= 100 ">{{recipe.ingredient_percentage}} ingr.</p>
									    <img src="assets/images/clock-blue.svg" class="img-fluid mr-2">
									    <p class="strong_blue_clor">{{recipe.duration}} min.</p>
									    <br>
									    <p>realizados el último mes: <strong class="strong_blue_clor">{{recipe.cooked}}</strong></p>
									  </div>
									  <div class="card-body">
									    <p class="card-text text-justify">{{recipe.description}}</p>
									    <a href="#" class="btn btn-normal-blue stretched-link text-center w-100" (click)="get_recipe(i,j,$event, true)">Ver Receta</a>
									  </div>
									</div>
								</div>
								<div class="col-12 text-center">
									<button class="btn btn-sm btn-outline mt-3" (click)="load_more_recommendations(name)"> Cargar más opciones</button>
								</div>
							</div>	
						</ng-container>
						<div class="row text-center" *ngIf="menu[current]['total'] == 0">
							<div class="col-12" >
								<h4 class="my-5">No tienes una planeación para esta semana</h4>
								<h5>¿Eres nuevo en recettario? realiza la planeación para la siguiente semana y comienza tu inventario</h5>
							</div>
						</div>
						<!-- <div class="w-100 my-3"></div> -->
							
					</div>
				</section>
			</div>
		</div>
	</div>	
</div>

<app-confirmation-modal [modal_info]="actual_modal" (accepted)="check_action($event)"></app-confirmation-modal>
<app-week-info-modal [show_modal]="show_modal"></app-week-info-modal>