<ngx-spinner name="loader" [fullScreen]="true" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
	<p class="loading">{{loader_message}}</p>
</ngx-spinner>
<app-header></app-header>
<div class="d-flex ">
	<div id="sidebar-container">
		<div class="text-center">
			<h5>{{current}} </h5>
			<p class="white-text">{{range_string}}</p>
			<button class="btn strong_blue_clor" (click)="change_menu(menu[ current]['next'])">cambiar a {{menu[ current]['next']}}</button>
		</div>
		<div class="menu" *ngIf="current == 'Preparación'">
			<p class="d-block text-center">preparados de la semana</p>
			<h5 class="text-center">{{cooked}} de {{total}}</h5>
			<p class="d-block text-center">preparados para hoy</p>
			<h5 class="text-center">{{day_cooked}} de {{to_make_recipes[current_day].length}}</h5>
			<div class="row justify-content-center">
				<div class="col-auto">
					<button class="btn btn-cool" (mouseover)="current_left = 'caret-left-square-fill.svg'" (mouseout)="current_left = 'caret-left-square-fill-white.svg'" (click)="change_day(-1)">
					<img [src]="'assets/images/' + current_left" class="img-fluid arrow">
					</button>
				</div>
				<div class="col-auto">
					<h5 >{{days[current_day]}}</h5>
					</div>
				<div class="col-auto">
					<button class="btn btn-cool">
					<img [src]="'assets/images/' + current_right" class="img-fluid arrow" (mouseover)="current_right = 'caret-right-square-fill.svg'" (mouseout)="current_right = 'caret-right-square-fill-white.svg'" (click)="change_day(1)">
					</button>
				</div>
			</div>
			<ul class="list-group list-group-flush ">
			  <li class="list-group-item " (click)="get_recipe($event,recipe)" *ngFor="let recipe of to_make_recipes[current_day]" [ngClass]="(current_recipe == recipe['id'])? 'orange-back' : 'blue-back'"><a href="#" >{{recipe['name']}}</a></li>
			</ul>

			<!-- <a href="#" (click)="get_recipe(recipe)" *ngFor="let recipe of to_make_recipes[current_day]" class="d-block ml-2">{{recipe['name']}}</a> -->
		</div>
		<div class="menu" *ngIf="current == 'Planeación'">
			<p class="d-block text-center">planeados para la semana</p>
			<h5 class="text-center">{{total_planned}}</h5>

			<div class="text-center my-3">
				<button class="btn btn-outline-strong mx-auto">Guardar Cambios</button>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
					<button class="btn btn-cool" (mouseover)="current_left = 'caret-left-square-fill.svg'" (mouseout)="current_left = 'caret-left-square-fill-white.svg'" (click)="change_day(-1)">
					<img [src]="'assets/images/' + current_left" class="img-fluid arrow">
					</button>
				</div>
				<div class="col-auto">
					<h5 >{{days[current_day]}}</h5>
					</div>
				<div class="col-auto">
					<button class="btn btn-cool">
					<img [src]="'assets/images/' + current_right" class="img-fluid arrow" (mouseover)="current_right = 'caret-right-square-fill.svg'" (mouseout)="current_right = 'caret-right-square-fill-white.svg'" (click)="change_day(1)">
					</button>
				</div>
			</div>
			<ul class="list-group list-group-flush ">
			  <li class="list-group-item " *ngFor="let recipe of planning_recipes[current_day]; let i = index" [ngClass]="(current_recipe == recipe['id'])? 'orange-back' : 'blue-back'"><a href="#" class="mr-3" (click)="get_recipe($event,recipe)">{{recipe['name']}}</a> <button class="btn" (click)="delete_recipe(i)"><img [src]="'assets/images/' + delete_img" class="img-fluid arrow"></button></li>
			</ul>
			<!-- <a href="#" (click)="get_recipe(recipe)" *ngFor="let recipe of to_make_recipes[current_day]" class="d-block ml-2">{{recipe['name']}}</a> -->
		</div>
	</div>
</div>	

<app-confirmation-modal [modal_info]="actual_modal" (accepted)="check_action($event)"></app-confirmation-modal>
<app-week-info-modal></app-week-info-modal>