: root {
	--primary:  #111B54;
	--light:  #ffffff;
	--grey: #efefef;
}

.body-component {
	overflow: hidden;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

#sidebar-container{
	min-height: 100vh;
	background-color: var(--main-blue);
	/*border*/

}

h5 {
	color : var(--p-header);
}

#sidebar-container .logo{
	padding: .875rem 1.25rem;

}

#sidebar-container .menu{
	width: 18rem;

}

#white-text {
	color: var(--p-header);
}

.menu > p {
	color: var(--p-header);
}

.arrow {
  width: 20px; /* you can use % */
    height: auto;
}

.btn-cool{
	padding: 0;
	border: none;
	background: none;
  
}


.orange-back {
	background-color: var(--orange-light);
	color: var(--p-header);
}

.orange-back > a {
	color:  var(--p-header);
	text-decoration: none;
}

.blue-high-back {
	background-color: #092ca5;
	color: var(--p-header);
}

.blue-high-back > a {
	color:  var(--p-header);
	text-decoration: none;
}


.pendiente, .planeada {
	background-color: var(--main-blue);
	color: var(--p-header);
}


.desactivada {
	background-color: var(--grey-deactivate);
	color: var(--p-header);
}

.realizada {
	background-color: var(--strongest-blue);
	color:  var(--p-header);
}

.realizada > a {
	color:  var(--p-header);
	text-decoration: none;
}

.desactivada > a {
	color:  var(--p-header);
	text-decoration: none;
}

.planeada > a {
	color:  var(--p-header);
	text-decoration: none;
}

.pendiente > a {
	color:  var(--p-header);
	text-decoration: none;
}

.blue-button {
	color: var(--main-blue);
  background-color: var(--main-blue);
  border-color: var(--main-blue);
  font-weight: bold;
  border-radius: 0px;
}

.blue-button > img {
	width: 25px; /* you can use % */
  height: auto;
}

#content{
	overflow-y: auto;
	height: 100vh;
	padding-bottom: 5rem;
}

.container-fluid h3, h4, h5 {
	color: var(--strong-blue);
}

.card-header > p {
	display:inline;
}

.text-inline > p {
	display:inline;
}

.remaining {
	color: var(--special-blue);
}