<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="health_form">
  <ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
    <p class="loading">Cargando...</p>
  </ngx-spinner>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header orange-light-background">
        <h5 class="modal-title ">Agregar datos de salud</h5>
      </div>
      <div class="modal-body">
        <form class="row">
          <div class="form-group col-12 col-lg-6">
            <label for="weight" class="strong_blue_clor">Peso*</label>
            <div class="input-group no-right-padding">
              <input type="number" class="form-control holder-blue strong_blue_clor" id="weight" aria-describedby="weight" [(ngModel)]="form_info['weight']['value']" name="weight">
              <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Kilogramos.</span>
              </div>
            </div>
            <small class="form-text error-text strong_blue_clor" *ngIf="form_info['weight']['error'].length > 0">{{form_info['weight']['error']}}</small>
          </div>
          <div class="form-group col-12 col-lg-6">
            <label for="diameter" class="strong_blue_clor">Diamtero de la cintura*</label>
            <div class="input-group no-right-padding">
              <input type="number" class="form-control holder-blue strong_blue_clor" id="diameter" aria-describedby="diameter" [(ngModel)]="form_info['diameter']['value']" name="diameter">
              <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">centimetros.</span>
              </div>
            </div>
            <small class="form-text error-text strong_blue_clor" *ngIf="form_info['diameter']['error'].length > 0">{{form_info['diameter']['error']}}</small>
          </div>
        </form>
        <div class="row justify-content-center pt-3">
          <div class="alert alert-danger col-12 text-center" role="alert" *ngIf="server_error.length > 0">
              {{server_error}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-normal-blue" (click)="send_data()">Guardar</button>
        <button type="button" class="btn btn-normal-orange" (click)="close_modal()">Cancelar</button>
      </div>
    </div>
  </div>
</div>