<ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
	<p class="loading">Cargando datos...</p>
</ngx-spinner>

<app-header></app-header>
<div class="container pt-5">
	<h5 class="text-center pb-5 strong_blue_clor">POLÍTICA DE USO Y PRIVACIDAD DE DATOS</h5>
	<div class="text-justify">
		<p>
			Con fundamento en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento, se informa lo siguiente:
		</p>
		<p>
		Las Condiciones aquí estipuladas regulan el tratamiento de sus datos personales recabados por el TT ..., las cuales le ofrecen acceso al sito web www.recettario.com y se ponen gratuitamente a su disposición como usuario de Internet.
		</p>
		<p>
		Ud. es el titular de los datos personales recabados, directa o indirectamente, por TT... . La información será utilizada únicamente para analizar los datos en las preferencias de recetas en el usuario, y mostrar las puntuaciones obtenidas en cada prueba contenida en este sitio, a fin de que el usuario disponga de alternativas de recetas respecto al inventario disponible.
		</p>
		<p>
		Las recetas consideradas como referencia están obtenidas de la dieta keto, pero pueden ser adecuadas a las necesidades del usuario y pueden ser integradas otras más.
		</p>
		<p>
		El acceso al website implica su consentimiento expreso y sin reserva a las condiciones general del aviso de privacidad. Si no está de acuerdo con estas Condiciones, por favor no utilice el sistema.
		</p>
	</div>
	<div class="text-center">
		<img src="assets/images/ReceTTario_logo.png" class="img-fluid mt-3 mb-2 ">
	</div>
</div>