<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="conf_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header orange-light-background">
        <h5 class="modal-title ">Confirmación</h5>
      </div>
      <div class="modal-body">
        <p class="strong_blue_clor">{{text}}</p>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-normal-blue" (click)="close_modal(true)">Aceptar</button>
        <button type="button" class="btn btn-normal-orange" (click)="close_modal(false)">Rechazar</button>
      </div>
    </div>
  </div>
</div>