<ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
	<p class="loading">{{loader_message}}</p>
</ngx-spinner>
<app-header></app-header>


<div class="container pt-3 ">
	<ul class="nav nav-tabs row">
	  <li class="nav-item">
	    <a class="nav-link" href="#" (click)="change_menu($event,'bascula')" [class.active]="menu == 'bascula'">Báscula</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="#" (click)="change_menu($event,'inventario')" [class.active]="menu == 'inventario'">Inventario</a>
	  </li>
	</ul>
	<div class="row pt-2">
		<div class="alert alert-danger col-12 text-center alert-dismissible fade show" role="alert" *ngIf="error_server.length > 0">
				{{error_server}}
				<button type="button" class="close" (click)="error_server = ''">
			    <span aria-hidden="true">&times;</span>
			  </button>
		</div>
		<div class="alert alert-success col-12 text-center alert-dismissible fade show" role="alert" *ngIf="success_message.length > 0">
				{{success_message}}
				<button type="button" class="close" (click)="success_message = ''">
			    <span aria-hidden="true">&times;</span>
			  </button>
		</div>
	</div>
	<div class="row" [class.d-none]="menu != 'bascula'">

		<!-- <div > -->
			<h3 class="col-12">{{type_info[user_type]['name']}}</h3>
		<!-- </div> -->
		<div class="col-12" *ngIf="type_info[user_type]['text'] == 1">
			<p><b>Agrega una báscula.</b></p>
			<p class="text-sm-justify">Introduce en el siguiente campo el código de validación de la bascula a la que desea asociarte.</p>
			<p class="text-justify">Toma en cuenta que si eres el primer usuario en introducir el código serás el administrador de esa báscula, de lo contrario deberás esperar a que el adminsitrador acepte o rechace tu petición.</p>
		</div>
		<div class="col-12" *ngIf="type_info[user_type]['text'] == 2">
			<p class="text-sm-justify"><b>Actualmente estás asociado a la báscula con identificador:</b></p>
			<h4 class="text-center">{{associated_scale}}</h4>
		</div>
		<div class="col-12 text-center pt-2" *ngIf="user_type == 2">
			<button type="button" class="btn btn-normal-blue" (click)="open_modal('remove_scale')">Ya no usaré esta báscula</button>
		</div>
		<div class="col-12 text-center pt-2 table-responsive" *ngIf="user_type == 3">
			<p class="text-center" class="most-strong-blue-color"><b>Usuarios administrados</b></p>
			<table class="table table-striped">
				<tr class="blue-main-background">
					<th><p>Usuario</p></th>
					<th><p>Estado</p></th>
					<th><p>Acciones</p></th>
				</tr>
				<tr *ngFor="let user of scale_users; let i = index">
					<td>
						{{user.name}}
					</td>
					<td>
						<p *ngIf="user.pending">Pendiente</p>
						<p *ngIf="!user.pending">Aceptado</p>
					</td>
					<td>
						<a href="#" *ngIf="user.pending" (click)="change_user_type($event, 2, user.id, i)"><img src="assets/images/check-square-fill-blue.svg" class="img-fluid mr-3 table-icon"></a>
						<a href="#" *ngIf="user.pending" (click)="change_user_type($event, 5, user.id, i)"><img src="assets/images/x-square-fill-orange.svg" class="img-fluid table-icon"></a>
						<a href="#" *ngIf="! user.pending" (click)="change_user_type($event, 1, user.id, i)"><img src="assets/images/x-square-fill-orange.svg" class="img-fluid table-icon"></a>
					</td>
				</tr>
			</table>
			<p class="text-left">¿Quieres asignar el rol de administrador a otro usuario?</p>
			<p class="text-left">A continuación selecciona a que usuario se le dará el rol de administrador: </p>
		</div>
		<div class="col-6 mx-auto" *ngIf="user_type == 3">
			<form class="form-inline  text-center d-none d-md-block" (submit)="change_user_type($event,3,new_admin)">
			  <label class="sr-only" for="admin_sel">Usuario</label>
			  <select id="admin_sel" class="custom-select mb-2 mr-sm-2" [(ngModel)]="new_admin" name="admin_sel">
			    <option value="-1" selected disabled>Selecciona una opción...</option>
			    <option *ngFor="let user of current_users" [value]="user.id" >{{user.name}}</option>
			  </select>
			  <button type="submit" class="btn btn-normal-orange mb-2">Cambiar administrador</button>
			</form>
			<form class="form-inline text-center d-block d-md-none pb-2" (submit)="change_user_type($event,3,new_admin)">
			  <div class="form-group">
			    <label for="code_scale" class="strong_blue_clor">Usuario</label>
			    <select id="admin_sel" class="custom-select mb-2 mr-sm-2 " [(ngModel)]="new_admin" name="admin_sel_2">
				    <option value="-1" selected disabled>Selecciona una opción...</option>
				    <option *ngFor="let user of current_users" [value]="user.id">{{user.name}}</option>
				</select>
			  </div>
			  <button type="submit" class="btn btn-normal-orange">Cambiar administrador</button>
			</form>
			<p>También puedes <a href="#" class="strong_blue_clor" (click)="open_modal('restart_scale',$event)"> reiniciar la bascula </a> para eliminar a todos los usuarios de ella.</p>
		</div>
		<div class="col-9 col-lg-12  mx-auto" *ngIf="type_info[user_type]['form_use']">
			<form class="form-inline text-center d-none d-lg-block" (submit)="send_scale_id()">
			  <label class="sr-only" for="code_scale">Código de báscula</label>
			  <input type="text" class="form-control mb-2 mr-sm-2 holder-blue" id="code_scale" placeholder="xxx-xxx" [attr.readonly]="(user_type == 4)?true:null" required [(ngModel)]="associated_scale" name="scale_name">
			  <button type="submit" class="btn btn-normal-orange mb-2" [attr.disabled]="(user_type == 4)?true:null">Validar</button>
			  <small class="form-text error-text strong_blue_clor" *ngIf="scale_input_error.length > 0">{{scale_input_error}}</small>
			</form>

			<form class="form-inline text-center d-block d-lg-none pb-2" (submit)="send_scale_id()">
			  <div class="form-group">
			    <label for="code_scale" class="strong_blue_clor">Código de báscula</label>
			    <input type="text" class="form-control holder-blue" placeholder="xxx-xxx" id="code_scale" [attr.readonly]="(user_type == 4)?true:null" required [(ngModel)]="associated_scale" name="scale_name_res">
			  </div>
			  <button type="submit" class="btn btn-normal-orange" [attr.disabled]="(user_type == 4)?true:null">Validar</button>
			  <small class="form-text error-text strong_blue_clor text-justify" *ngIf="scale_input_error.length > 0">{{scale_input_error}}</small>
			</form>
		</div>
		<div class="col-12" [class.d-none] ="!(user_type == 4)" >
			<div class="alert alert-info alert-dismissible fade show" role="alert">
			  <strong>Por validarse</strong> Aún no se te ha aceptado en la báscula con el código que ingresaste, puedes esperar o <a class="most-strong-blue-color" (click)="change_user_type($event,1, user_id)" href="#">Cancelar el uso de esta báscula e ingresar otro código valido.</a>
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>
		<div class="col-12" [class.d-none] ="!(user_type == 5)">
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
			  <strong>No aceptado</strong> No fuiste aceptado por el administrador de la báscula, por lo que debes ingresar un nuevo código de báscula.
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			</div>
		</div>
	</div>
	<div class="row" [class.d-none]="menu != 'inventario'">
		<div class="col-12 text-center col-md-4">
			<h3>Inventario</h3>
		</div>
		<div class="col-6 col-md-4 pt-2">
			<a  href="#"><img src="assets/images/card-list-blue.svg" class="img-fluid d-inline pr-2 icon-button" ><p class="strong_blue_clor d-inline h">Ver ingredientes pendientes</p></a>
		</div>
		<div class="col-6 col-md-4 pt-2">
			<a  href="#" (click)="open_ingredient_modal($event)"><img src="assets/images/plus-circle-fill-blue.svg" class="img-fluid d-inline pr-2 icon-button" ><p class="strong_blue_clor d-inline h">Agregar ingredientes</p></a>
		</div>			
		<div class="col-12 text-center pt-3 table-responsive" *ngIf="stock_items.length > 0">	
			<table class="table table-striped">
				<tr class="blue-main-background">
					<th><p>Ingrediente</p></th>
					<th><p>Cantidad</p></th>
					<th><p>Fecha</p></th>
					<th><p>Acciones</p></th>
				</tr>
				<tr *ngFor="let item of stock_items; let i = index">
					<td>
						{{item.ingredient_name}}
					</td>
					<td>
						{{item.quantity}} {{item.unit}}.
					</td>
					<td>
						{{item.created_at | datetimeOne}}
					</td>

					<td>
						<a href="#" (click)="start_edit($event, item)"><img src="assets/images/pencil-square-blue.svg" class="img-fluid mr-md-3 table-icon"></a>

						<a href="#" (click)="open_modal('delete_item', $event ,i )"><img src="assets/images/x-square-fill-orange.svg" class="img-fluid table-icon"></a>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-12 text-center" *ngIf="stock_items.length == 0">
			<h5>No tienes ingredientes agregados, cuando compres ingredientes subelos con tu báscula o desde aquí.</h5>
		</div>

		<div class="col-12 text-center col-md-4">
			<h3>Ingredientes pendientes</h3>
		</div>

		<div class="col-12 text-center pt-3 table-responsive" *ngIf="pending_items.length > 0">	
			<table class="table table-striped">
				<tr class="blue-main-background">
					<th><p>Ingrediente</p></th>
					<th><p>Cantidad</p></th>
					<th><p>Fecha</p></th>
				</tr>
				<tr *ngFor="let item of pending_items">
					<td>
						{{item.ingredient_name}}
					</td>
					<td>
						{{item.quantity}} {{item.unit}}.
					</td>
					<td>
						{{item.created_at | datetimeOne}}
					</td>
				</tr>
			</table>
		</div>

		<div class="col-12 text-center" *ngIf="pending_items.length == 0">
			<h5>¡Hurra! no tienes ingredientes pendientes espera, ¿Agregaste recetas para esta semana?</h5>
		</div>


	</div>
</div>


<app-confirmation-modal [modal_info]="actual_modal" (accepted)="check_action($event)"></app-confirmation-modal>
<app-ingredient-modal (elements_edited)="reload_stock($event)" [edit_info]= edit_item></app-ingredient-modal>