<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="rate_modal">
	<ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
		<p class="loading">Cargando...</p>
	</ngx-spinner>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header orange-light-background">
        <h5 class="modal-title "> Evalua la receta </h5>
      </div>
      <div class="modal-body">
      	<img src="assets/images/ReceTTario_logo.png" class="img-fluid img-responsive mb-3">
      	<p class="text-center">¡Esperamos que la receta haya sido de tu agrado!</p>
      	<p class="text-justify">Para mandarte las recetas que más te gustan es necesario que evalues la receta que realizaste, toma muy poco tiempo, solo califica en estos puntos la receta</p>
        <form >
	      	<div class=" form-row form-group">
			    <label for="formControlRange" class="strong_blue_clor">¿Qué te pareció <b>el sabor</b> de la receta?</label>
			    <input type="range" class="form-control-range" id="formControlRange" min="0" max="10" name="taste" [(ngModel)]="data.taste">
			    <small class="strong_blue_clor">calificación: {{data.taste}}</small>
			</div>
			<div class=" form-row form-group">
			    <label for="formControlRange" class="strong_blue_clor">¿Qué te pareció <b>la dificultad</b> de la receta?</label>
			    <input type="range" class="form-control-range" id="formControlRange" min="0" max="10" name="difficulty" [(ngModel)]="data.difficulty">
			    <small class="strong_blue_clor">calificación: {{data.difficulty}}</small>
			</div>
			<div class="form-group form-row">
			    <label for="time" class="strong_blue_clor">¿Cuánto <b>tiempo</b> te tomó realizar esta receta?</label>
			    <input type="number" class="form-control holder-blue strong_blue_clor" id="time" aria-describedby="time" placeholder="0" [(ngModel)]="data.time" name="time">
			</div>
			<!-- <div class="form-group form-row">
				<input type="range" class="form-control-range" id="formControlRange" min="0" max="10" name="time"  disabled>
			    <small class="form-text error-text strong_blue_clor" *ngIf="time_error.length > 0">{{time_error}}</small>
			</div> -->
        </form>
        <div class="row justify-content-center pt-3">
        	<!-- <div class="alert alert-danger col-12 text-center" role="alert" *ngIf="server_error.length > 0"> -->
				<!-- {{server_error}} -->
			<!-- </div> -->
        </div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-normal-blue w-100" (click)="save()">Enviar calificación</button>
        <!-- <button type="button" class="btn btn-normal-orange" (click)="close_modal()">Cancelar</button> -->
      </div>
    </div>
  </div>
</div>