<ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
	<p class="loading">{{loader_message}}</p>
</ngx-spinner>
<div class="container ">
	<div class="row justify-content-center">
		<div class="col-12 text-center">
			<img src="assets/images/ReceTTario_logo.png" class="img-fluid mt-5 mb-2 ">
		</div>
		<div class="col-12 text-center mt-3">
			<p class="h4"><b>Recuperar contraseña.</b></p>
		</div>
		<div class="col-4 mt-3 mb-2 d-none d-md-block">
			<p class="text-justify">Para completar esta acción es solo llena los campos con tu nueva contraseña.</p>
			<small class="text-justify text-muted strong_blue_clor">Recuerda que tu contraseña debe tener al menos 8 caracteres y debe contener al menos un número, un caracter especial ( /, #, $ o  &) y una letra mayúscula..</small>
		</div>
		<div class="w-100"></div>
		<div class=" col-6 col-md-5 col-lg-4 form-group  mx-5">
			<label for="pass1" class="strong_blue_clor">Nueva contraseña</label>
			<input type="password" class="form-control holder-blue" placeholder="********" [(ngModel)]="pass" [disabled]="send_data">
			<small class="form-text error-text strong_blue_clor" *ngIf="pass_error.length > 0">{{pass_error}}</small>
		</div>
		<div class="w-100"></div>	
		<div class=" col-6 col-md-5 col-lg-4 form-group  mx-5">
			<label for="pass2" class="strong_blue_clor">Confirmar nueva contraseña</label>
			<input type="password" class="form-control holder-blue" placeholder="********" [(ngModel)]="pass_check" [disabled]="send_data">
			<small class="form-text error-text strong_blue_clor" *ngIf="pass_check_error.length > 0">{{pass_check_error}}</small>
		</div>
		<div class="w-100"></div>	
		<div class="alert alert-success col-6 text-center" role="alert" *ngIf="show_success">
				¡Listo! Se ha reestablecido tu contraseña, serás redireccionado a la página principal.
		</div>
		<div class="alert alert-danger col-6 text-center" role="alert" *ngIf="server_error.length > 0">
				{{server_error}}
		</div>
		<div class="col-12 text-center">
			<button type="button" class="btn btn-outline-orange btn-lg mt-3 mb-3" (click)="reset_password()" [disabled]="show_success || send_data">Guardar nueva contraseña</button>
		</div>
		<div class="col-12 text-center">
			<a [routerLink]="['/']">Volver al inicio</a>
		</div>
	</div>
</div>
