<div class="container ">
	<div class="row justify-content-center">
		<div class="col-12 text-center">
			<img src="assets/images/ReceTTario_logo.png" class="img-fluid mt-5 mb-2 ">
		</div>
		<div class="col-12 text-center mt-3">
			<p class="h4"><b>Recuperar contraseña.</b></p>
		</div>
		<div class="col-4 mt-3 d-none d-md-block">
			<p class="text-justify">Introduce en el siguiente campo el correo con el que registraste tu cuenta.</p>
		</div>
		<div class="col-12 mt-3 d-md-none d-block text-center">
			<p>Introduce tu correo.</p>
		</div>
		<div class="w-100"></div>
		<div class=" col-6 col-md-5 col-lg-4 form-group  mx-5">
			<label for="email" class="strong_blue_clor">Correo</label>
			<input type="email" class="form-control holder-blue" placeholder="ejemplo@gmail.com">
		</div>
		<div class="col-12 text-center">
			<button class="btn btn-outline-orange btn-lg mt-3 mb-3" >Recuperar contraseña</button>
		</div>
		<div class="col-12 text-center">
			<a [routerLink]="['/']">Volver al inicio</a>
		</div>
	</div>
</div>

