<ngx-spinner name="loader" [fullScreen]="false" type="ball-spin-clockwise-fade" size="medium" color = "#0AAFC6">
	<p class="loading">Loading Awesomeness...</p>
</ngx-spinner>
<div class="container-fluid">
	<div class="row navbar-blue pt-2 pb-2 text-center">
		<div class="col-6">
			<h2 class="white-text d-none d-lg-block">Crear una cuenta</h2>
			<h4 class="white-text d-block d-lg-none">Crear una cuenta</h4>
		</div>
		<div class="col-6">
			<img src="assets/images/ReceTTario_grey.png" class="img-fluid logo">
		</div>
	</div>
</div>
<div class="container overflow-auto">
	<div class="row pt-3"></div>
		<p class="strong_blue_clor col-12 no-bottom-padding"><b>Información necesaria para la creación de tu perfil.</b></p>
		<div class="w-100 orange-line"></div>
		<form class="row justify-content-center pt-3" (submit)="check_form($event)" >
		  <div class="form-group col-6 col-lg-3">
		    <label for="name" class="strong_blue_clor">Nombre(s)*</label>
		    <input type="text" class="form-control holder-blue strong_blue_clor" id="name" aria-describedby="name" placeholder="Marco Antonio" required [(ngModel)]="user_info.first_name" name="first_name">
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['first_name']['show']">{{errors['first_name']['message']}}</small>
		  </div>
		  <div class="form-group col-6 col-lg-3">
		    <label for="last_name1" class="strong_blue_clor">Apellido(s)*</label>
		    <input type="text" class="form-control holder-blue strong_blue_clor" id="last_name1" aria-describedby="last_name1" placeholder="Robles Emmert" [(ngModel)]="user_info.last_name" name="last_name">
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['last_name']['show']">{{errors['last_name']['message']}}</small>
		  </div>
		  <div class="form-group col-6 col-lg-3">
		    <label for="birthday" class="strong_blue_clor">Fecha de nacimiento*</label>
		    <input type="date" class="form-control holder-blue strong_blue_clor" id="birthday" aria-describedby="birthday" [(ngModel)]="user_info.birthday" name="birthday">
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['birthday']['show']">{{errors['birthday']['message']}}</small>
		  </div>
		  <div class="form-group col-6 col-lg-3">
			<label for="arterial1" class="strong_blue_clor">Sexo biológico* </label>
			<div class="pt-lg-2">
		    	<div class="form-check form-check-inline">
				  <input class="form-check-input radio-test" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="M" [(ngModel)]="user_info.gender" name="gender">
				  <label class="form-check-label strong_blue_clor" for="inlineRadio1">Masculino</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input radio-test" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="F" [(ngModel)]="user_info.gender" name="gender">
				  <label class="form-check-label strong_blue_clor" for="inlineRadio2">Femenino</label>
				</div>
				<small class="form-text error-text strong_blue_clor" *ngIf="errors['gender']['show']">{{errors['gender']['message']}}</small>
			</div>
		  </div>
		  <div class="form-group col-12 col-lg-6">
		    <label for="email1" class="strong_blue_clor">Correo*</label>
		    <input type="email" class="form-control holder-blue strong_blue_clor" id="email1" aria-describedby="last_name1" placeholder="ejemplo@gmail.com" [(ngModel)]="user_info.email" name="email">
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['email']['show']">{{errors['email']['message']}}</small>
		  </div>
		  <div class="form-group col-12 col-lg-6">
		    <label for="email2" class="strong_blue_clor">Confirmar correo*</label>
		    <input type="email" class="form-control holder-blue strong_blue_clor" id="email2" aria-describedby="last_name1" placeholder="ejemplo@gmail.com" [(ngModel)]="user_info.email_check" name="email_check">
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['email_check']['show']">{{errors['email_check']['message']}}</small>
		  </div>
		  <div class="form-group col-12 col-lg-6">
		    <label for="password1" class="strong_blue_clor">Contraseña*</label>
		    <input type="password" class="form-control holder-blue strong_blue_clor" id="password1" placeholder="********" [(ngModel)]="user_info.password" name="password" autocomplete="off">
		    <small id="password1" class="form-text text-muted strong_blue_clor">La contraseña debe tener al menos 8 caracteres y debe contener al menos un número, un caracter especial ( /, #, $ o  &) y una letra mayúscula.</small>
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['password']['show']">{{errors['password']['message']}}</small>
		  </div>
		  <div class="form-group col-12 col-lg-6">
		    <label for="password2" class="strong_blue_clor">Confirmar contraseña*</label>
		    <input type="password" class="form-control holder-blue strong_blue_clor" id="password2" placeholder="********" [(ngModel)]="user_info.check_password" name="check_password" autocomplete="off">
		    <small class="form-text error-text strong_blue_clor" *ngIf="errors['check_password']['show']">{{errors['check_password']['message']}}</small>
		  </div>
		  <!-- <p class="strong_blue_clor col-12 no-bottom-padding"><b>Información necesaria para iniciar tu seguimiento.</b></p> -->
		  <!-- <div class="w-100 orange-line pb-3"></div> -->

	  		<!-- <div class="form-group col-12 col-lg-3 ">
		    	<label for="arterial1" class="strong_blue_clor">Presión arterial</label>
		    	<div class="input-group">
	    			<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="120">
	    			<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">  /  </span>
					</div>
					<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="80">
		    		<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">mm Hg</span>
					</div>
		    	</div>
			</div> -->
			<!-- <div class="form-group  col-6 col-lg-3">
		    	<label for="arterial1" class="strong_blue_clor">HDL en sangre</label>
		    	<div class="input-group no-right-padding">
	    			<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="40">
	    			<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">mg/dL</span>
					</div>
		    	</div>
			</div> -->
			<!-- <div class="form-group col-6 col-lg-3">
		    	<label for="arterial1" class="strong_blue_clor">Glucosa en ayunas</label>
		    	<div class=" input-group no-right-padding">
	    			<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="100">
	    			<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">mg/dL</span>
					</div>
		    	</div>
			</div> -->

			<div class="form-group form-check col-lg-6 d-none d-lg-block">
				<label for="exampleCheck1" class="strong_blue_clor">Acepto*: </label>
				<div>
			    	<input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="user_info.check_1" name="check_1">
			    	<label class="form-check-label strong_blue_clor text-justify" for="exampleCheck1">El uso de esta plataforma como una ayuda auxiliar y llevaré el control junto con un especialista.</label>
				</div>
			</div>
			<!-- <div class="form-group col-6 col-lg-3 ">
		    	<label for="arterial1" class="strong_blue_clor">Altura*</label>
		    	<div class="input-group no-right-padding">
	    			<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="165">
	    			<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">cm</span>
					</div>
		    	</div>
			</div> -->
			<!-- <div class="form-group col-6 col-lg-3 ">
		    	<label for="arterial1" class="strong_blue_clor">Peso*</label>
		    	<div class="input-group">
	    			<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="63">
	    			<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Kg</span>
					</div>
		    	</div>
			</div>
			<div class="form-group col-6 col-lg-3 ">
		    	<label for="arterial1" class="strong_blue_clor">Circunferencia de la cintura*</label>
		    	<div class="input-group">
	    			<input type="number" class="form-control holder-blue strong_blue_clor" id="arterial1" aria-describedby="arterial1" placeholder="68">
	    			<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">cm</span>
					</div>
		    	</div>
			</div> -->
			<div class="w-100  d-lg-none d-block"></div>

			<div class="form-group form-check col-5 d-block d-lg-none mr-3">
				<label for="exampleCheck2" class="strong_blue_clor">Acepto*: </label>
				<div>
			    	<input type="checkbox" class="form-check-input" id="exampleCheck2" [(ngModel)]="user_info.check_1" name="check_1">
			    	<label class="form-check-label strong_blue_clor text-justify" for="exampleCheck2">El uso de esta plataforma como una ayuda auxiliar y llevaré el control junto con un especialista.</label>
				</div>
			</div>
			 <div class="form-group form-check col-5 col-lg-6 mt-4 ">
			    <input type="checkbox" class="form-check-input" id="exampleCheck3" [(ngModel)]="user_info.check_2" name="check_2">
			    <label class="form-check-label strong_blue_clor text-justify" for="exampleCheck3">No tengo ninguna enfermedad agregada o estoy embarazada.</label>
			 </div>
			 <small class="form-text error-text strong_blue_clor col-12" *ngIf="errors['check_1']['show'] || errors['check_2']['show']">Debe aceptar los terminos para el uso de la plataforma.</small>

			<!-- <div class="col-6">
				<div class="form-group">
			    <input type="text" class="form-control holder-blue strong_blue_clor" id="name" aria-describedby="name" placeholder="Marco Antonio">
				</div>
			</div> -->
			<div class="alert alert-danger col-6 text-center" role="alert" *ngIf="error_message.length > 0">
	  		{{error_message}}
			</div>
			<div class="w-100"></div>
		  <button type="submit" class="btn btn-outline-orange btn-lg col-6 col-lg-4 mt-3">Crear mi cuenta</button>
		  <div class="w-100"></div>
		  <a [routerLink]="['/']" class="col-6 col-lg-4 text-left no-left-padding pt-3 pb-3 pb-lg-0">¿Ya tienes una cuenta?</a>
		</form>
	<!-- </div> -->
</div>
