<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="ingredient_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header orange-light-background">
        <h5 class="modal-title ">Agregar ingredientes</h5>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-normal-blue" (click)="check()">Aceptar</button>
        <button type="button" class="btn btn-normal-orange" (click)="check()">Rechazar</button>
      </div>
    </div>
  </div>
</div>